@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bg {
    height: 100vh;
    background-image: url(../imagens/landscape.jpg);
    background-repeat: no-repeat;
    background-color: cyan;
    background-position: center;
    background-size: cover;
    
}